# Point the SPA at any of the three backends. Defaults below target node-be.
# rust-be: 8081, node-be: 8082, python-be: 8083
VITE_GRAPHQL_HTTP=http://localhost:8082/graphql
VITE_GRAPHQL_WS=ws://localhost:8082/graphql
